@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700');


:root{
    --bgclr:#ecf6fc00;;
    /*--bgclr:#2b414e;*/
    --text-color:white;
    --borderc:rgb(247, 230, 200);
    --menu-bg:rgba(151, 148, 148, 0.219);
    --click-button-bg:rgba(97, 79, 66, 0.117);
    --click-button-bg-ac:rgba(66, 54, 45, 0.562);
    --spodna-lista:rgb(170, 125, 65);
    --section-a-bg:#373737;
    --section-b-bg:#414141;
    --sections-font:#dbdbdb;
    --spodny-div-bg:#222222;
}


body {
    background-color: var(--bgclr);
    font-family: 'Lato', sans-serif;
    height: 0vh;
    color: aquamarine;
    margin: 0;
}
.prvapage-y {
    height: 100vh;
    position: relative;
    top: 0;
    scroll-snap-align: start;
}
html {
    font-family: 'Lato';
    scroll-behavior: smooth;
  }
.scroll {
    /*scroll-snap-type: y mandatory;*/
    overflow-y: scroll;
    height: 100vh;
}


/*backgroundimage*/
.bgimg{
    background-image: url("../../wallpaper/earth-1756274_1920.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position:static;
    background-size: cover;
    background-attachment: fixed;
    
}
/*finitko backgroundimage*/

/*sipecka*/
.sipecka a,.sipecka2 a{
    color: white;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 700;

}
.sipecka img, .sipecka2 img{
    position: static;
    width: 35px;
    left: 50%;
    
}
.sipecka img:hover, .sipecka2 img:hover{
    animation: arrow-ani 0.7s ease-in-out forwards;
    animation-delay: 0.1s;
}
@keyframes arrow-ani{
    0% {
        transform: translate(0,0);
    }
    20% {
        transform: translate(0,6px);
    }
    65% {
        transform: translate(0,-8px);
    }
    100% {
        transform: translate(0,0);
    }

}
.sipecka, .sipecka2 {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 83vh;
    width: 100%;
}
.sipecka2 {
    height: 86vh;
    position: ;
}
/*sipecka popis click*/
.s-click{
    background-color: rgba(97, 79, 66, 0.117);
    width: 60px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Lato';
    color: rgba(255, 255, 255, 0.473);
    
}
.s-click:hover{
    background-color: rgba(66, 54, 45, 0.562);
    transition: background-color 200ms ease-in;
}
.s-click a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.473);
    padding:5px;
    padding-left: 10px;
    padding-right: 10px;
}
.s-c-o3 {
    width: 60px;
    position: relative;
    left: 50%;
    transform: translate(-90px);
    top: -3vh;
}

/*scroll bar*/

        /* width */
        ::-webkit-scrollbar {
            width: 15px;
        }
        
         /*Track*/
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        
         /*Handle */
        ::-webkit-scrollbar-thumb {
            background: #888; 
        }
        
         /*Handle on hover*/
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
/*end of scroll bar*/


/* start of dropdown menu */
button:hover {
    background-color:#346380;
    transition: background-color 200ms ease-in;
}
button:focus {
    background-color:var(--menu-bg);
    transition: background-color 200ms ease-in;
}
.dropdown-position{
    width: 100%;
    height: 15vh;
    position: absolute;
    top: 10%;
    left: 0;
}
.dropdown{
    height: 15vh;
    background-color: var(--bgclr);
    display: flex;
    justify-content: space-around;
    width: 50%;
    align-items:center;
    margin:auto;
}
.dropdown2{
    position: relative;
    left: 20%;
}
.dropdown button{
    font-family: 'Lato';
    font-weight: 700;
    color: var(--text-color);
    font-size: 22px;
    height: 45px;
    width: 140px;
    padding: 15px 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgclr);
    border: 2px solid var(--borderc);
    cursor: pointer;
    text-decoration: none;
    border-radius: 1px;
}

.dropdown button:hover {
    background-color:#34638042;
    transition: background-color 200ms ease-in;
}
.dropdown button:focus {
    background-color:var(--menu-bg);
    transition: background-color 200ms ease-in;
}
.drp2, .drp3, .drp4, .drp5, .drp6 {
    position: relative;
}
.drp2 ul, .drp3 ul, .drp4 ul, .drp5 ul, .drp6 ul {
    position: absolute;
    background-color: var(--menu-bg);
    display: flex;
    justify-content: space-around;
    width: 140px;
    height: 150px;
    list-style: none;
    flex-direction: column;
    align-items:center;
    padding-left: 0;
    margin-top: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    border-radius: 3px;
}
.drp2 ul{
    height: 250px;
}
.drp3 ul{
    height: 100px;
}
.drp2 a, .drp3 a, .drp4 a, .drp5 a, .drp6 a {
    color: black;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.drp5 a{
    color: var(--text-color);
}
.drp2 a, .drp3 a{
    padding-left: 40px;
    padding-right: 40px;
}
.drp2 li, .drp3 li, .drp4 li, .drp5 li, .drp6 li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drp2 li:hover, .drp3 li:hover, .drp4 li:hover, .drp5 li:hover, .drp6 li:hover {
    background-color: rgba(255, 248, 220, 0.343);
    transition: background-color 200ms ease-in;
}

.drp2 button:focus + ul, .drp3 button:focus + ul, .drp4 button:focus + ul, .drp5 button:focus + ul, .drp6 button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
.drp2 button:focus-within + ul, .drp3 button:focus-within + ul, .drp4 button:focus-within + ul, .drp5 button:focus-within + ul, .drp6 button:focus-within + ul{
    opacity: 1;
    visibility: visible;
}
.drp5 {
    opacity: 0;
    pointer-events: none;
}
.dropdown a{
    text-decoration: none;
    color: var(--text-color);
}
/* end of dropdown menu */

/*zaciatok spodnej listicky*/
.spodny-div {
    background-color: var(--spodny-div-bg);
    width: 100%;
    height: 14%;
    top:87%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.5s ease-in;
}
.hvridk{
    width: 100%;
    height: 14%;
    top:87%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    opacity: 1;
}
.hvridk:hover .hvrtxt{
    opacity: 0;
    transition: all 0.2s ease-in;
}
.hvridk:hover .spodny-div{
    margin-top: 0;
    opacity: 1;
    transform: translateY(0px);
}

.patreon {
    width: 25px;
    height: 25px;
}
.soc-media-positioning {
    left: 85%;
    position: fixed;
}
.final-word {
    color: var(--sections-font);
    font-family: 'Lato';
    font-weight: 400;
    left: 10%;
    top: 0%;
    position: absolute;
    font-size: 18px;
    word-spacing: 1px;
}
.thanks{
    color: var(--sections-font);
    font-family: 'Lato';
    font-weight: 300;
    font-size: 13px;
    left: 10%;
    top: 60%;
    position: absolute;
}
.hvrtxt{
    top: 91%;
    width: 100%;
    height: 10%;
    left: 50%;
    transform: translate(-50%);
    position: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Lato';
    font-weight: 300;
    font-size: 18px;
    color:var(--spodna-lista);
    background-color: #34638000;
    opacity: 1;
}
.hvrtxt p{
    transform: translate(-7px);
}



/*spodna listicka done*/
/*lang changer */
.lang {
    color: var(--text-color);
    position:absolute;
    left: 90.7%;
    top: 30px;
    width: 50px;
    margin:0;
    height: 30px;
    border-radius: 10px;
    
}
.langf {
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.lang-line-x {
    background-color: crimson;
    width: 40px;
    height: 1px;
    top: 8%;
    left: 10%;
    position: absolute;
}
.lang-space {
    position: relative;
    height: 30px;
    width: 100%;
}
.lang-line-y {
    background-color: crimson;
    width: 1px;
    height: 16px;
    top: 0;
}

.lang button{
    border: 0;
    margin: 0;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    background-color: var(--click-button-bg);
    color: var(--text-color);
    cursor: pointer;
}
.lang button:hover{
    color:rgb(172, 78, 78);
    background-color: var(--click-button-bg-ac);
    transition: background-color 200ms ease-in;
}
.langf a {
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 300;
    color: var(--text-color);
    left: 0%;
    
}
/*koniec jazyka*/

/*nadpis*/
.nadpis{
    position: absolute;
    width: 600px;
    height: 15vh;
    top: 17%;
    left: 20%;
}
.nadpis h1 {
    color: var(--text-color);
    font-family: 'Lato';
    font-weight: 400;
}

/*sections*/
.section2 {
    background-color: var(--section-bg);
    width: 100%;
    height: 0;
    top: 0;
    position: static;
}

.section3, .section4 {
    background-color: var(--section-bg);
    width: 100%;
    height: 80vh;


}
.section3-a, .section4-a {
    background-color: var(--section-a-bg);
    width: 100%;
    height: 40vh;
    top: 0;
    scroll-snap-align: start;
}
.section3-b, .section4-b {
    background-color: var(--section-b-bg);
    width: 100%;
    height: 40vh;
    top: 40vh;
    scroll-snap-align: start;
}
/*end of defining sections, time for stuff in the sections*/
/*start of inside of the sections*/
.sections-text-a, .sections-text-a h1, .sections-text-b, .sections-text-b h1{
    color: var(--sections-font);
    display: flex;
    align-items: center;
    line-height: 50%;
    font-weight: 300;
}
.ulls-a, .ulls-b{
    list-style: 0;
    padding-left: 0;
}
.section-t-position-a, .section-t-position-b{
    position: relative;
    left: 70%;
    transform: translate(-50%,70%);
    font-size: 20px;
}
.section-t-position-b{
    left: 45%;
}
.section-t-position-a h1, .section-t-position-b h1{
    transform: translate(0,-3vh);
}