@font-face {
    src: url(fonts/Lato-Regular.ttf);
    font-family: latorgl;
  }
@font-face {
    font-family: latobld;
    src: url(fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: latothn;
    src: url(fonts/Lato-Thin.ttf);
}

:root{
    --bgclr:#2b414e;
}


body {
    background-color: var(--bgclr);
    font: normal 18px  latorgl;
    height: 200vh;
    color: aquamarine;
    
}


/* start of dropdown menu */
button:hover {
    background-color:#346380;
    transition: background-color 200ms ease-in;
}
button:focus {
    background-color:rgb(151, 148, 148);
    transition: background-color 200ms ease-in;
}
.dropdown{
    height: 15vh;
    background-color: var(--bgclr);
    display: flex;
    justify-content: space-around;
    width: 1000px;
    align-items:center;
    margin:auto;
    
}
.dropdown-position{
    width: 1000px;
    height: 15vh;
    position: absolute;
    top: 15%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: coral;

}
.dropdown button {
    font-family: latobld;
    color: burlywood;
    font-size: 22px;
    height: 45px;
    width: 140px;
    padding: 15px 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgclr);
    border: 2px solid beige;
    cursor: pointer;
    text-decoration: none;
    border-radius: 1px;
}

.dropdown button:hover {
    background-color:#346380;
    transition: background-color 200ms ease-in;
}
.dropdown button:focus {
    background-color:rgb(151, 148, 148);
    transition: background-color 200ms ease-in;
}
.drp2, .drp3, .drp4, .drp5, .drp6 {
    position: relative;
}
.drp2 ul, .drp3 ul, .drp4 ul, .drp5 ul, .drp6 ul {
    position: absolute;
    background-color: rgb(151, 148, 148);
    display: flex;
    justify-content: space-around;
    width: 140px;
    height: 150px;
    list-style: none;
    flex-direction: column;
    align-items:center;
    padding-left: 0;
    margin-top: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: all 0.4s ease;
    border-radius: 3px;
}
.drp2 ul{
    height: 250px;
}
.drp3 ul{
    height: 100px;
}
.drp2 a, .drp3 a, .drp4 a, .drp5 a, .drp6 a {
    color: black;
    text-decoration: none;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
.drp5 a{
    color: burlywood;
}
.drp2 a, .drp3 a{
    padding-left: 40px;
    padding-right: 40px;
}
.drp2 li, .drp3 li, .drp4 li, .drp5 li, .drp6 li {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.drp2 li:hover, .drp3 li:hover, .drp4 li:hover, .drp5 li:hover, .drp6 li:hover {
    background-color: cornsilk;
    transition: background-color 200ms ease-in;
}

.drp2 button:focus + ul, .drp3 button:focus + ul, .drp4 button:focus + ul, .drp5 button:focus + ul, .drp6 button:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
.drp2 button:focus-within + ul, .drp3 button:focus-within + ul, .drp4 button:focus-within + ul, .drp5 button:focus-within + ul, .drp6 button:focus-within + ul{
    opacity: 1;
    visibility: visible;
}
.drp5 {
    opacity: 0;
    pointer-events: none;
}
/* end of dropdown menu */

/*zaciatok spodnej listicky*/
.spodny-div {
    background-color: rgb(161, 143, 110);
    width: 100%;
    height: 15%;
    top:85%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}
.patreon {
    width: 25px;
    height: 25px;
}
.soc-media-positioning {
    left: 85%;
    position: fixed;
}
.thanks{
    color: black;
    font-size: 13px;
    left: 10%;
    top: 65%;
    position: absolute;
}
.final-word {
    color: black;
    left: 10%;
    top: 10%;
    position: absolute;
    font-size: 18px;
    word-spacing: 1px;
}
/*spodna listicka done*/
/*lang changer */
.lang {
    color: black;
    position:relative;
    left: 90.7%;
    top: 10px;
    width: 40px;
    margin:0;
    height: 30px;
    
}
.langf {
    display: flex;
    justify-content: space-around;
    align-items:center;
}
.lang-line-x {
    background-color: crimson;
    width: 40px;
    height: 1px;
    top: 8%;
    position: absolute;
}
.lang-space {
    position: relative;
    height: 30px;
    width: 100%;
}
.lang-line-y {
    background-color: crimson;
    width: 1px;
    height: 16px;
    top: 0;
}

.lang button{
    border: 0;
    margin: 0;
    width: 40px;
    background-color: var(--bgclr);
    color: blanchedalmond;
    cursor: pointer;
}
.lang button:hover{
    color:rgb(172, 78, 78);
    transition: background-color 200ms ease-in;
}
.langf a {
    text-decoration: none;
    color: blanchedalmond;
    left: 0%;
    
}
/*koniec jazyka*/

/*nadpis*/
.nadpis{
    position: absolute;
    width: 600px;
    height: 15vh;
    top: 17%;
    left: 400px;
}
.nadpis h1 {
    color: burlywood;
}
