@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,700');


:root{
    --bgclr:#ecf6fc00;;
    /*--bgclr:#2b414e;*/
    --text-color:white;
    --borderc:rgb(247, 230, 200);
    --menu-bg:rgba(151, 148, 148, 0.219);
    --click-button-bg:rgba(97, 79, 66, 0.117);
    --click-button-bg-ac:rgba(66, 54, 45, 0.562);
    --spodna-lista:rgb(170, 125, 65);
    --section-a-bg:#373737;
    --section-b-bg:#414141;
    --sections-font:#2b2a2a;
    --spodny-div-bg:#777676de;
}


body {
    background-color: var(--bgclr);
    font-family: 'Lato', sans-serif;
    height: 0vh;
    color: aquamarine;
    margin: 0;
    background-color: var(--section-b-bg);
}
html {
    font-family: 'Lato';
    scroll-behavior: smooth;
  }
.scroll {
    height: 100vh;
}

.trojpalicka:hover {
    background-color:#34638091;
    transition: background-color 200ms ease-in;
}/*
.trojpalicka:focus{
    opacity: 0;
    pointer-events: none;
}*/
/*background-color:#bdff0844;
    transition: background-color 200ms ease-in;*/

.drp1:focus + .odkazy-ul1/*,
.drp2:focus + .odkazy-ul2,
.drp3:focus + .odkazy-ul3,
.drp4:focus + .odkazy-ul4,
.drp5:focus + .odkazy-ul5*/{
    opacity: 1;
    transform: translate(0,0);
    transition: transform 200ms ease-in;
}

.show-menu, .menu-bg:focus-within>.trojpalicka{
    opacity: 0;
}
.menu-bg:focus-within>.show-menu, .menu-bg:focus-within>.menu-bgc{
    opacity: 1;
}/*
.menu-bg:focus-within>.show-menu{
    pointer-events: all;
}
*/
/*scroll bar*/

        /* width */
        ::-webkit-scrollbar {
            width: 15px;
        }
        
         /*Track*/
        ::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }
        
         /*Handle */
        ::-webkit-scrollbar-thumb {
            background: #888; 
        }
        
         /*Handle on hover*/
        ::-webkit-scrollbar-thumb:hover {
            background: #555; 
        }
/*end of scroll bar*/
.page-height{
    height: 300vh;
    width: 100%;
}
.bgimg{
    background-image: url("../wallpaper/earth-1756274_1920.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position:static;
    background-size: cover;
    background-attachment: fixed;
}
.menu-position{
    width: 100%;
    height: 400vh;
    position: absolute;
    top: 0;
    background-color: rgba(255, 127, 80, 0.253);
}
.menu-bg{
    left: 78%;
    width: 22%;
    height: 100vh;
    top: 0;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-bgc{
    left: 0;
    width: 100%;
    height: 100vh;
    top: 0;
    position: absolute;
    background-color: rgba(127, 255, 212, 0.692);
    opacity: 0;
}
.trojpalicka{
    font-family: 'Lato';
    font-weight: 700;
    color: var(--text-color);
    font-size: 22px;
    height: 45px;
    width: 45px;
    padding: 15px 15px;
    background-color: var(--bgclr);
    border: 2px solid var(--borderc);
    cursor: pointer;
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: all;
}
button{
    font-family: 'Lato';
    font-weight: 700;
    color: var(--text-color);
    font-size: 22px;
    height: 45px;
    width: 140px;
    padding: 15px 35px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bgclr);
    border: 2px solid var(--borderc);
    cursor: pointer;
    text-decoration: none;
    border-radius: 1px;
}
.menucka{
    opacity: 1;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.drp1, .drp2, .drp3, .drp4, .drp5, .drp{
    position: relative;
    opacity: 1;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items:center;
    margin-top: 20px;
}


.odkazy-ul1, .odkazy-ul2, .odkazy-ul3, .odkazy-ul4, .odkazy-ul5{
    pointer-events: none;
    list-style: none;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%);
    width: 140px;
    height: 150px;
    border-radius: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: var(--menu-bg);
    padding-left: 0;
    transform: translateX(10px);
    transition: all 0.4s ease;
    border-radius: 3px;
    left: -145px;
    top: -16px;
    opacity: 0;
    background-color: rgba(105, 105, 248, 0.397);
}
.odkazy-li{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: bisque;
    pointer-events: all;
}
.show-menu{
    opacity: 0;
   /* pointer-events: none;*/
}


.test-op1{
    position: absolute;
    top: 0;
    left: 10vh;
    height: 50px;
    width:150px;
}
.test-op2,.test-op3, .test-op4{
    position: absolute;
    top: 15vh;
    left: 30vh;
    height: 50px;
    width:150px;
}
.test-op3{
    left: 0;
    opacity: 0;
}
.test-op4{
    left: 60vh;
    opacity: 0;
}
.btn2,.btn3{
    pointer-events: none;
}
.btn2:focus +.btn3{
    opacity: 1;
    transition: opacity 220ms ease-in;
}
.btn2, .testing:focus-within>.btn1{
    opacity: 0;
    transition: opacity 220ms ease-in;
    pointer-events: none;
}
.testing:focus-within>.btn2{
    opacity: 1;
    transition: opacity 220ms ease-in;
    pointer-events: all;
}
